<div id="unit-table" class="container">
  <div class="col-md-9 ms-auto">
    <h2>Lista de Unidades</h2>
    <div>
      <table
        class="table table-striped table-borderless table-light align-middle"
      >
        <thead>
          <tr>
            <th class="dcf-txt-center" scope="col">ID</th>
            <th class="dcf-txt-center" scope="col">Apelido</th>
            <th scope="col">Local</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="dcf-txt-center">156</td>
            <td class="dcf-txt-center">Painel 1</td>
            <td>Rua 5</td>
            <td>Canandian</td>
            <td>155W</td>
            <td>
              <button type="button" class="btn btn-success">Editar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger">Remover</button>
            </td>
          </tr>
          <tr>
            <td class="dcf-txt-center">156</td>
            <td class="dcf-txt-center">Painel 1</td>
            <td>Rua 5</td>
            <td>Canandian</td>
            <td>155W</td>
            <td>
              <button type="button" class="btn btn-success">Editar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger">Remover</button>
            </td>
          </tr>
          <tr>
            <td class="dcf-txt-center">156</td>
            <td class="dcf-txt-center">Painel 1</td>
            <td>Rua 5</td>
            <td>Canandian</td>
            <td>155W</td>
            <td>
              <button type="button" class="btn btn-success">Editar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger">Remover</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
