.btn{
  height: 40px;
  border-radius: 5px;
  border: 1px solid #4cbc9a;
  background-color: white;
  color: #A098AE;
  margin-left: 5px;
  padding: 0 25px;
  transition: .5s;
  
}
.btn:hover{
  border: 1px solid #4cbc9a;
  background-color: #4cbc9a;
  color: white;
}

.nav-item{
  padding: 6px;
}
