<div>
  <div class="sidebar-heading text-center py-2">
    <img src="assets/logo-sidebar.png" alt="" class="logo" />
  </div>
  <hr />
  <div>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <button
          type="button"
          class="btn"
          routerLinkActive="active"
          routerLink="/dashboard"
        >
          <img src="assets/pizza-grey.png" alt="pizza grafic" /> Dashboard
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn"
          routerLinkActive="active"
          routerLink="/units-list"
        >
          <img src="assets/grafic-grey.png" alt="grafic" />
          Unidades
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn"
          routerLinkActive="active"
          routerLink="/consumption"
        >
          <img src="assets/gear-grey.png" alt="gear" />
          Consumo Mensal
        </button>
      </li>
    </ul>
  </div>
</div>
