<div class="container-fluid text-center">
  <!-- <div class="image-logon">
    <img src="assets/image-logon.png" alt="" />
  </div> -->
  <div class="form-signin">
    <form>
      <img class="mb-4" src="assets/logo-logon.png" alt="" />
      <h1 class="h3 mb-3 fw-normal">Seja bem vindo!</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">E-mail</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Senha</label>
      </div>

      <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div> -->
      <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
      <p class="mt-5 mb-3 text-muted">&copy; DEVinHouse 2022 - Ana Ciochetta</p>
    </form>
  </div>
</div>
